<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav col center justify-content-around">
          <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="mountains.html">Mountain</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="national-parks.html">National Parks</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>